# Supabase Configuration
# Replace these with your actual Supabase URL and Anon Key from your Supabase Dashboard -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://lsuqirdjkfdhyyxiyfcr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzdXFpcmRqa2ZkaHl5eGl5ZmNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMjAzMzgsImV4cCI6MjEwNTc5NjMzOH0.2bI_y_ARW3kOkg-zfUcg6eLaoOQHAOZQoPndFvfTbC4
